html, body, h1, h2, h3,{
  margin: 0;
  padding: 0;
}

.board {
  background-color: #1875AE;
}

.board header{
  text-align: center;
}

.lists-content {
}

.lists-content .lists .list {
  background-color: #E3E4E6;
  display: inline-block;
  margin: 10px 5px;
  width: calc(33.33% - 10px);
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.card {
  background-color: white;
  border-radius: 5px;
}

.card .content {
  padding: 10px;
}
